@{
    ViewData["Title"] = "Portofoliul nostru";
}

<style>
    .port {
        border: none !important;
        height: 450px;
        border: 2px solid #212529!important;
        overflow: hidden;
        cursor: pointer;
    }

    .portofoliu {
        border-radius: 0 0 6% 6%;
        overflow: hidden;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #212529;
        opacity: .9;
        margin-top: 50px;
    }

    .displayer {
        position: fixed;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-color: rgba(33,37,41,0.97);
        /*opacity:.9;*/
        width: 100%;
        height: 100vh;
        z-index: 999999;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        transition: ease-in-out;
    }

    .imgdiv {
        height: 80%;
        width: 100%;
        /* border:2px solid yellow;*/
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1 !important;
    }

    .navbarportofolio {
        position: relative;
        z-index: 10;
    }

    .displayeractive {
        visibility: visible;
    }

    .close {
        width: 45px;
        height: 50px;
        /*border:1px solid white;*/
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .line {
        width: 30px;
        height: 3px;
        border-radius: 4px;
        background-color: white;
        position: absolute;
    }

    .line1 {
        transform: rotate(45deg)
    }

    .line2 {
        transform: rotate(-45deg)
    }

    .categoriesdiv {
        border: 1px solid #eee;
        width: 200px;
        background: #ffffff;
        -webkit-box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
        box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
        -webkit-transition: all ease 0.35s;
        -moz-transition: all ease 0.35s;
        transition: all ease 0.35s;
        position: absolute;
        top: 60px;
        left: -60px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
    }

    .onhover {
    }

        .onhover:hover {
            color: #F0B250;
            opacity: .9;
        }

        .onhover:active {
            color: #F0B250;
            opacity: .9;
        }

    .categoriesdivsmallscreen {
        border: 1px solid #eee;
        width: 100%;
        background: #ffffff;
        -webkit-box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
        box-shadow: 0 2px 10px rgb(0 0 0 / 10%);
        -webkit-transition: all ease 0.35s;
        -moz-transition: all ease 0.35s;
        cursor: pointer;
        transition: all ease 0.35s;
        font-size: 14px;
        font-weight: 500;
    }

    .categories {
        opacity: 0;
        display: none;
    }

    .categoriesshow {
        opacity: 1;
        display: block;
    }
    .img {
        transition: transform .5s, filter .5s ease-in-out;
        filter: grayscale(100%);
    }
    .img:hover {
        filter: grayscale(0);
        transform: scale(1.1);
    }
</style>

<!-- Black display page for images -->

<div id="displayer" class="displayer ">

    <div class="imgdiv">
        <img class="image" id="img1" style="height:100%" alt="">

    </div>


    <div id="close" class="close">
        <div class="line line1"></div>
        <div class="line line2"></div>
    </div>


</div>

<!-- ***** Black Header ***** -->

<div class="container-lg" style="background-color:#212529;
                                     height:35px;
                                     display:flex;
                                     justify-content:center;
                                     align-items:center;
                                     ">
    <div class="row col-lg-10" style="height:35px;
                                          display:grid;
                                          grid-template-columns:40% 60%;
                                          justify-content:center;
                                          align-items:center;
                                          ">
        <div class="col"></div>

        <div class="col col-sm-12 col-md-12 " style="display:flex;justify-content:end;">

            <a class="iconlink mx-2" style="text-decoration:none!important; " href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                    <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                </svg> <small>0746272923</small>
            </a>

            <a class="iconlink mx-1" style="text-decoration:none!important; " href="https://www.instagram.com/pipelights.byserox/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                    <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
                </svg>
            </a>

            <a class="iconlink mx-1 " style="text-decoration:none!important; " href="https://www.facebook.com/PipeLightsbySerox/" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                </svg>
            </a>



        </div>

    </div>
</div>
<br />


<!-- Page Content -->
<div class="portofoliu">
    <h1 class="portofoliotittle" style="color:white; position:absolute;margin-top: 40px;">Proiectele noastre</h1>
</div>

<br />

<div class="team-members">
    <div class="container">
        <div class="row">
            <div class="col-md-4 ">
                <div class="team-member port">
                    <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/1.jpeg" alt="">
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="team-member port">
                    <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/2.jpeg" alt="">
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="team-member port">
                    <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/3.jpeg" alt="">
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="team-member port">
                    <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/4.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member port">
                    <img class="image img" style="height:100%; z-index:100000" src="~/lib/images/Portofoliu/5.jpg" alt="">
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member port">
                    <div class="thumb-container">
                        <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/6.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member port">
                    <div class="thumb-container">
                        <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/7.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member port">
                    <div class="thumb-container">
                        <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/8.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member port">
                    <div class="thumb-container">
                        <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/9.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member port">
                    <div class="thumb-container">
                        <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/10.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member port">
                    <div class="thumb-container">
                        <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/11.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member port">
                    <div class="thumb-container">
                        <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/12.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member port">
                    <div class="thumb-container">
                        <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/13.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member port">
                    <div class="thumb-container">
                        <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/14.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member port">
                    <div class="thumb-container">
                        <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/15.jpg" alt="">
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                <div class="team-member port">
                    <div class="thumb-container">
                        <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/16.jpg" alt="">
                    </div>
                </div>
            </div>
             <div class="col-md-4">
                <div class="team-member port">
                    <div class="thumb-container">
                        <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/17.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="team-member port">
                    <div class="thumb-container">
                        <img class="image img" style="height:100%" src="~/lib/images/Portofoliu/18.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    const navItemsA = document.getElementsByClassName('nav-item');


    for (var i = 0; i < navItemsA.length; i++) {
        navItemsA[i].classList.remove('active');
        if (navItemsA[i].innerText == 'Portofoliu') {
            navItemsA[i].classList.add('active');
        }
    }




    const close1 = document.getElementById('close');
    const displayer = document.getElementById('displayer');

    close1.addEventListener('click', displayremove);

    function displayremove() {
        displayer.classList.remove('displayeractive')
    }


    const image = document.getElementsByClassName('image');
    const imgdiv = document.getElementsByClassName('imgdiv');

    const img1 = document.getElementById('img1');


    for (var i = 0; i < image.length; i++) {

        let imgSrc = image[i].src;
        let elementClicked = false;

        image[i].addEventListener('click', function handleClick() {
            if (elementClicked) {
                return;
            }


            img1.setAttribute("src", imgSrc);

            elementClicked = true;


        });


        image[i].addEventListener('click', showimage);




        function showimage() {

            displayer.classList.add('displayeractive');


        }
    }

</script>
