@{
    ViewData["Title"] = "Despre noi";
}
<style>
    .hov {
        background-color: #212529;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        height: 32px;
        line-height: 32px;
        padding: 0px 24px 5px 24px;
        border-radius: 7px !important;
        transition: .4s ease-in-out;
        letter-spacing: 2px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

        .hov:hover {
            background-color: #F0B250;
            color: black;
            text-transform: uppercase;
            font-size: 1rem;
            height: 32px;
            line-height: 32px;
            padding: 0px 24px 5px 24px;
            border-radius: 7px !important;
            transition: .4s ease-in-out;
            letter-spacing: 2px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

    .containerdreapta {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 440px;
    }

    .icons {
        color: #757575;
        text-align: center;
        cursor: pointer;
    }

        .icons:hover {
            color: #F0B250;
        }

    .iconss {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #757575;
        text-align: center;
        cursor: pointer;
        width: 120px;
    }

    .social {
    }


        .social:hover {
            color: #F0B250;
        }

    .btn-cart-main {
        background: #212529;
        border-color: #212529;
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        height: 32px;
        line-height: 32px;
        padding: 0px 24px 5px 24px;
        border-radius: 7px !important;
        transition: .4s ease-in-out;
        letter-spacing: 2px;
    }

        .btn-cart-main:hover {
            background: #F0B250;
            border-color: #F0B250;
            opacity: 1 !important;
        }

        .btn-cart-main:focus, .btn:active {
            background: #F0B250;
            border-color: #F0B250;
        }

    .redlabel {
        color: #e02b27;
        font-size: 12px;
        display: none;
    }

    .redlabelshow {
        display: block;
    }

    .formfocus {
    }

        .formfocus:focus {
            border: 1px solid #F0B250 !important;
        }

    .f {
        border: 1px solid #d6d6d6;
        background-color: white;
        border-radius: 5px;
    }

    }</style>

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Despre noi</h1>

    </div>
</div>
<!-- Page Header End -->
<!-- Contact Start -->
<div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
    <div class="container contact px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 contact-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <div class="section-title text-start">
                       @* <h1 class="display-5 mb-4">Contacteaza-ne</h1>*@
                    </div>
                    <p>
                        Suntem o firmă dedicată soluțiilor software și automatizărilor industriale. Misiunea noastră este să sprijinim companiile în procesul de optimizare și modernizare, oferind tehnologii avansate și soluții eficiente, adaptate cerințelor fiecărui client.

                    </p>
                    <p>
                        Comercializăm o gamă variată de componente electrice de înaltă calitate, atent selectate pentru a răspunde celor mai complexe nevoi din domeniul industrial. De asemenea, serviciile noastre includ proiectare, instalare și mentenanță pentru sisteme electrice și de automatizare, asigurând performanță, siguranță și fiabilitate.

                    </p>
                    <p>
                        Ne diferențiem prin profesionalism, inovație și un angajament constant față de excelență. Colaborăm strâns cu fiecare client, oferind consultanță specializată și soluții personalizate, menite să crească productivitatea și să reducă costurile operaționale.

                    </p>
                    <p>
                        Indiferent de complexitatea proiectului, suntem aici pentru a transforma ideile în realitate și pentru a vă susține dezvoltarea afacerii prin tehnologie.
                    </p>
                    <p>
                        Alegeți să lucrați cu noi și descoperiți un partener pe termen lung, care pune accent pe calitate, eficiență și satisfacția clientului!

                    </p>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid" src="~/lib/img/caroussel2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
<script src="jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>


