
@{
    ViewData["Title"] = "Privacy Policy";
}





<body >
    <div class="terms">
       <h4 id="terms" style="margin-top:150px; padding-left:20px; padding-right:20px">
           TERMENI ȘI CONDIȚII
       </h4>
       <br />
       <p style="padding-left:20px; padding-right:20px">
           Pentru utilizarea acestui website și achiziționarea produselor date spre vânzare pe acest website este necesar să citiți și să acceptați termenii și condițiile de mai jos. Continuarea utilizării acestui website reprezintă acordul dumneavoastră asupra acestor termeni si condiții.

            Termenii şi condiţiile pot fi modificate în orice moment de către administratorul site-ului fără notificarea prealabilă a persoanelor care îl utilizează.

            Utilizatorii vor avea acces permanent la termenii şi condiţiile pentru utilizarea serviciilor pentru a le putea consulta în orice moment.

            În cazul în care nu sunt de acord cu termenii şi condiţiile impuse, utilizatorii trebuie să înceteze accesarea acestui serviciu.
       </p>

        <h4 style="margin-top:35px; padding-left:20px; padding-right:20px">
           POLITICA DE CONFIDENȚIALITATE
       </h4>
       <br />
       <p style="padding-left:20px; padding-right:20px">
           Conform cerințelor Legii nr. 677/2001 pentru protecția persoanelor cu privire la prelucrarea datelor cu caracter personal și libera circulație a acestor date, modificată și completată și ale Legii nr. 506/2004 privind prelucrarea datelor cu caracter personal și protecția vieții private în sectorul comunicațiilor electronice, Serox Lighting SRL are obligația de a administra, în condiții de siguranță și numai pentru scopurile specificate, datele personale pe care le furnizează cumpărătorul, un membru al familiei acestuia ori o altă persoană.

            Scopul colectării datelor este de a putea asigura cumpărătorului serviciile www.pipelights.ro, de a asigura sprijinul privind comenzile cumpărătorului, de a aduce la cunoștiință acestuia modificările din cadrul serviciilor www.pipelights.ro și eventualele servicii noi pe care le oferă www.pipelights.ro sau partenerii acestuia.

            Nu sunteți obligat(ă) să furnizați datele, dar acestea sunt necesare pentru finalizarea unei comenzi.

            Informațiile înregistrate sunt destinate utilizării de către operator și nu sunt publicate pe site sau în altă parte și nu sunt făcute publice. Conform Legii nr. 677/2001, beneficiați de dreptul de acces, de intervenție asupra datelor, dreptul de a nu fi supus unei decizii individuale și dreptul de a vă adresa justiției. Totodată, aveți dreptul să vă opuneți prelucrării datelor personale care vă privesc și să solicitați ștergerea datelor. Pentru exercitarea acestor drepturi, vă puteți adresa pe adresa de email serox.pipelights@gmail.com.

            Datele dumneavoastră nu vor fi transferate în alte state.

            Dacă unele din datele despre dumneavoastră sunt incorecte, vă rugăm să ne informați cât mai curând posibil.

            ​

            Potrivit dispozițiilor legale în materie, vă informăm cu privire la faptul că beneficiați de următoarele drepturi:

            Dreptul de informare și acces la datele dumneavoastră cu caracter personal – puteți solicita confirmarea faptului că datele dumneavoastră cu caracter personal sunt prelucrate sau nu de către Serox Lighting SRL, iar, în caz afirmativ, puteți solicita accesul la acestea, precum și anumite informații despre acestea. La solicitarea dumneavoastră, Serox Lighting SRL vă va furniza și o copie a datelor cu caracter personal prelucrate.

            Dreptul la rectificarea datelor dumneavoastră cu caracter personal – puteți obține, fără întârzieri nejustificate, rectificarea datelor cu caracter personal inexacte, precum și completarea celor care sunt incomplete.

            Dreptul la ștergerea datelor cu caracter personal - în situațiile reglementate de art. 17 din GDPR (de exemplu, în cazul în care se constată că datele cu caracter personal nu mai sunt necesare pentru scopul în care au fost colectate sau prelucrate, dacă vă opuneți prelucrării și nu există motive legitime care să prevaleze în ceea ce privește prelucrarea etc.) puteți obține ștergerea de către Serox Lighting SRL a respectivelor date.

            Dreptul la restricționarea prelucrării – în situațiile reglementate în mod expres de art. 18 din GDPR (de exemplu, în cazul în care contestați exactitatea datelor dumneavoastră cu caracter personal, pe perioada necesară pentru verificarea exactității acestora etc.), puteți obține restricționarea prelucrării datelor dumneavoastră cu caracter personal. Potrivit art. 4 pct. 3 din GDPR, restricționarea prelucrării semnifică faptul că Serox Lighting SRL va marca datele dumneavoastră cu caracter personal, limitându-se la a le stoca, în scopul de a limita prelucrarea viitoare a acestora și nu va efectua alte operațiuni de prelucrare a acestor date, decât cu consimțământul dumneavoastră, ori în alte cazuri expres prevăzute de lege (în situațiile în care prelucrarea se impune pentru constatarea, exercitarea sau apărarea unui drept în instanță sau pentru protecția drepturilor unei alte persoane fizice sau juridice sau din motive de interes public important al Uniunii Europene sau al unui stat membru). În cazul în care vă exercitați dreptul la restricționarea prelucrării, Serox Lighting SRL vă informează înainte de ridicarea acestei restricții. 

            Dreptul la portabilitatea datelor – în ipotezele reglementate în mod expres de art. 20 din GDPR (anume numai dacă prelucrarea datelor cu caracter personal este realizată de Serox Lighting SRL prin mijloace automate și are ca temei legal fie executarea unui contract, fie consimțământul dumneavoastră), puteți primi, într-un format structurat, utilizat în mod curent, care să poată fi citit automat, datele pe care ni le-ați furnizat dumneavoastră și puteți solicita ca respectivele date să fie transmise altui operator.

            Dreptul la opoziție – vă puteți opune în orice moment, din motive legate de situația particulară în care vă aflați, prelucrării datelor dumneavoastră cu caracter personal în cazurile prevăzute de art. 21 din GDPR (în special, dacă prelucrarea este întemeiată pe interesul legitim al Serox Lighting SRL). Dacă vă exercitați acest drept, Serox Lighting SRL nu va mai prelucra datele dumneavoastră cu caracter personal decât dacă demonstrează că are motive legitime și imperioase care justifică prelucrarea și care prevalează asupra intereselor, drepturilor și libertăților dumneavoastră ori în scop de constatare, exercitare sau apărare a unui drept în instanță.

            Dreptul de a depune plângere – în ceea ce privește modalitatea de prelucrarea a datelor dumneavoastră cu caracter personal de către Serox Lighting SRL, puteți depune o plângere la autoritatea de supraveghere a prelucrării datelor cu caracter personal competentă sau la instanța competentă. Potrivit Legii 102/2005, în România, autoritatea competentă este Autoritatea Națională de Supraveghere a Prelucrării Datelor cu Caracter Personal.  </p>


           <h4 style="margin-top:35px; padding-left:20px; padding-right:20px">
               DREPTURI DE AUTOR
           </h4>
           <br />
           <p style="padding-left:20px; padding-right:20px">
                Website-ul www.pipelights.ro este proprietatea exclusivă a Serox Lighting SRL, CUI 44945073.

                Designul website-ului www.pipelights.ro, textele, imaginile, fotografiile, informațiile, descrierile, produsele, serviciile, cât și alte materiale afișate pe și oferite de acest website sunt protejate de legile dreptului de autor, mărcii comerciale și alte legi în vigoare și nu pot fi folosite decât cu permisiunea scrisă prealabilă a proprietarului acestor materiale.

                Folosirea fără acordul scris al proprietarului a oricăror elemente enumerate mai sus se pedepsește conform legilor în vigoare.

                Este interzisă orice încercare de a descărca, modifica sau reproduce parțial sau integral site-ul, de a copia, de a vinde/revinde sau de a exploata site-ul în orice altă manieră, în scopuri comerciale sau contrare intereselor societății Serox Lighting SRL, CUI 44945073.

                Designul website-ului www.pipelights.ro, textele, imaginile, fotografiile, informațiile, descrierile, produsele, serviciile, cât și alte materiale afișate pe și oferite de acest website sunt protejate de legile dreptului de autor, mărcii comerciale și alte legi în vigoare și nu pot fi folosite decât cu permisiunea scrisă prealabilă a proprietarului acestor materiale.

                Folosirea fără acordul scris al proprietarului a oricăror elemente enumerate mai sus se pedepsește conform legilor în vigoare.

                Este interzisă orice încercare de a descărca, modifica sau reproduce parțial sau integral site-ul, de a copia, de a vinde/revinde sau de a exploata site-ul în orice altă manieră, în scopuri comerciale sau contrare intereselor societății.
           </p>

            <h4 style="margin-top:35px; padding-left:20px; padding-right:20px">
               POLITICA DE LIVRARE
           </h4>
           <br />
           <p style="padding-left:20px; padding-right:20px">
                Livrarea produselor se face doar pe teritoriul României.

                Livrarea produselor se face la adresa de livrare completată de cumpărător în formularul de comandă.

                Livrarea se face prin curier rapid sau prin Poșta Română, conform alegerii cumpărătorului în timpul efectuării comenzii. Alegerea firmei de curierat rapid în vederea livrării produselor comandate este în exclusivitate a vânzătorului.

                În funcție de disponibilitatea curierului, produsele comandate, care se afla in stoc se vor expedia în 1-2 zile lucrătoare. Produsele care nu se afla in stoca necesita o perioada de realizare de 10-12 zile.

                Timpul de livrare, conform firmelor de curierat rapid, este de 24-48 de ore. Firma de curierat rapid este responsabilă pentru orice depășire a acestui termen și orice nemulțumire apărută în urma întârzierii livrării produselor va fi soluționată de aceasta. Timpul de livrare, conform Poștei Române, este de 2-3 zile lucrătoare. Poșta Română este responsabilă pentru orice depășire a acestui termen și orice nemulțumire apărută de întârzierea livrării produselor va fi soluționată de aceasta.

                Pentru a evita orice încurcături, cumpărătorul trebuie să se asigure că adresa de livrare și numărul de telefon completate în formularul de comandă sunt corecte. Dacă vor exista costuri suplimentare pentru redirecționarea coletului, acestea vor rămâne în sarcina cumpărătorului.

                Costul livrării produselor comandate nu este inclus în prețul produselor, excepție făcând anumite campanii promoționale în care livrarea este gratuită. Costul livrării va fi afișat în formularul de comandă înainte de finalizarea comenzii.

                Vânzătorul își rezervă dreptul de a modifica prețul de livrare în timp fără aducerea la cunoștință în prealabil a cumpărătorilor.

                În Cluj-Napoca, produsele vor fi livrate personal de catre noi. Ziua și ora ridicării produselor va fi stabilită de comun acord între vânzător și cumpărător.
           
           </p>

           <h4 id="pay" style="margin-top:35px; padding-left:20px; padding-right:20px">
               POLITICA DE RETUR
           </h4>
           <br />
           <p style="padding-left:20px; padding-right:20px">
                In cazul în care cumpărătorul nu este mulțumit de calitatea produsului, consideră că imaginile de prezentare nu corespund produsului primit sau pur și simplu s-a răzgândit în privința comenzii, cumpărătorul are la dispoziție 14 zile calendaristice de la primirea produsului pentru a-l returna, conform OG nr. O.U.G. 34/2014 privind regimul juridic al contractelor la distanță, care aprobă ordonanța, „Consumatorul are dreptul să notifice în scris comerciantului că renunță la cumpărare, fară penalități și fără invocarea unui motiv, în termen de 14 zile calendaristice de la primirea produsului. Singurele costuri care pot cădea in sarcina consumatorului sunt cheltuielile directe de returnare a produselor“.

                În cazul returului, cumpărătorul trebuie să trimită o cerere scrisă pe adresa de email serox.pipelights@gmail.com Livrarea returului se va face doar cu o firmă de curierat rapid (nu cu Poșta Română), iar costurile de transport revin în sarcina cumpărătorului ce dorește returul. Nu se acceptă colete cu valoare ramburs. Plata contravalorii produselor și a transportului inițial al comenzii va fi achitată de vânzător prin transfer bancar în contul clientului ce dorește returul, în baza informațiilor furnizate prin email la serox.pipelights@gmail.com (numărul de cont, banca la care este deschis contul și titularul contului), în maxim 10 zile de la efectuarea returului. Nu se returnează taxele de transport ale returului.

                Produsul ce se dorește returnat trebuie să se afle în stare foarte bună, fără urme de uzură și trebuie să fie returnat cu toate accesoriile inițiale trimise de vânzător. De asemenea, produsul ce se dorește a fi returnat trebuie ambalat corespunzător pentru retur pentru a nu suferi deteriorări în timpul transportului de retur. În cazul în care aceste condiții nu sunt îndeplinite, cumpărătorul va primi doar jumătate (50%) din valoarea produsului returnat.

                Sunt exceptate de la exercitarea dreptului de retur următoarele: sumele achitate pentru transportul retur al produselor, produsele realizate după specificațiile și instrucțiunile cumpărătorului, produsele ce sunt parte a unui ansamblu și nu pot fi, prin natura acestora, separate de celelalte elemente componente.   
            </p>

            <h4 id="pay" style="margin-top:35px; padding-left:20px; padding-right:20px">
               METODE DE PLATA
           </h4>
           <br />
           <p style="padding-left:20px; padding-right:20px">
                Plata produselor se poate face prin plata online cu cardul de debit/credit (Visa, MasterCard ș.a.).

                IMPORTANT! Pentru plățile online cu cardul bancar NU este perceput niciun comision!

                Procesarea plății cu cardul se face de către procesatorul de plăți internațional Stripe.

                Site-ul www.pipelights.ro are Certificat SSL pentru cumpărături online sigure.

                Site-ul www.pipelights.ro nu solicită și nu stochează niciun fel de detalii referitoare la cardul tău.

                Dacă cumpărătorul a ales metoda de plată online este necesar ca acesta să completeze un formular cu informațiile cardului bancar în pagina securizată a procesatorului de plăți.

                Plata online va trebui efectuată înaintea livrării comenzii.

                ​

                Plata produselor se poate face și prin plata ramburs, la primirea coletului cu produsele comandate.

                Plata se va face în numerar direct la curier, în numerar (sau cu cardul bancar, după caz) la ghișeul Poștei Române sau în numerar vânzătorului în cazul ridicării personale (pentru cumpărătorii din Cluj-Napoca).
           </p>

</div>

<script>
    const navItemsPrivacy = document.getElementsByClassName('nav-item');

    for(var i=0; i<navItemsPrivacy.length;i++){
        navItemsPrivacy[i].classList.remove('active');
        
    }


</script>
</body>