@model IEnumerable<Pipelights.Website.BusinessService.Models.ProductDetailsDto>

@{
    ViewData["Title"] = "Services";
}
<style>
    .service-item .overflow-hidden {
        position: relative;
        height: 0;
        padding-top: 50%; /* Set a fixed height for the container, maintaining a 2:1 aspect ratio */
    }

    .service-item img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* Ensure the image takes the full width of its container */
        height: 100%; /* Ensure the image takes the full height of its container */
        object-fit: cover; /* Maintain aspect ratio and cover the container */
    }
</style>
<br />

<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Servicii</h1>
        
    </div>
</div>
<!-- Page Header End -->
<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5">Serviciile noastre</h1>
        </div>
       
            <div class="row g-4">
            @foreach (var serv in Model)
            {
                <div class="col-md-4 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="@serv.MainImage" alt="">
                        </div>
                        <div class="p-4 text-center border border-5 border-light border-top-0">
                            <h4 class="mb-3">@serv.Name</h4>
                           @* <p class="mb-4 pb-2">@Html.Raw(serv.Description)</p>*@
                            <a class="fw-medium" href="~/Products/DetailsForService?Id=@serv.Id">Citeste mai mult<i class="fa fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
            }
            </div>
        

    </div>
</div>
<!-- Service End -->
