
@{
    ViewData["Title"] = "Dashboard";
}


<style>
    footer {
        display: none;
    }
</style>

<div class="container">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <h2>Dashboard</h2>
    </div>
    <br />
    <br />
    <div class="row ">

        <div class="col-md-4">
            <div class="product-item">
                <div style="text-align: center;" class="down-content mb-3">
                    <a href="~/Admin/ProductsDashboard">
                        <h4 style="     margin-bottom:0px!important;
                                      background-color: orangered;
                                      color: white;
                                      padding: 30px;
                                      border-radius: 7px;">
                            Administreaza Produse
                        </h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="product-item">
                <div style="text-align: center;" class="down-content mb-3">
                    <a href="~/Admin/ServiceDashboard">
                        <h4 style="margin-bottom:0px!important;
                                      background-color: darkgoldenrod;
                                      color: white;
                                      padding: 30px;
                                      border-radius: 7px;">
                            Administreaza Servicii
                        </h4>
                    </a>
                </div>
            </div>
        </div>

         <div class="col-md-4">
            <div   class="product-item">
                <div style="text-align: center;" class="down-content mb-3">
                    <a href="~/Admin/CategoriesDashboard">
                        <h4 style="   margin-bottom:0px!important;
                                      background-color: cadetblue;
                                      color: white;
                                      padding: 30px;
                                      border-radius: 7px;">
                            Administreaza Categorii
                        </h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="product-item">
                <div style="text-align: center;" class="down-content mb-3">
                    <a href="~/Admin/VouchersDashboard">
                        <h4 style="margin-bottom:0px!important;
                                      background-color: MediumSeaGreen;
                                      color: white;
                                      padding: 30px;
                                      border-radius: 7px;">
                            Administreaza Vouchere
                        </h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="product-item">
                <div style="text-align: center;" class="down-content mb-3">
                    <a href="~/Admin/OrdersDashboard">
                        <h4 style="margin-bottom:0px!important;
                                      background-color: mediumpurple;
                                      color: white;
                                      padding: 30px;
                                      border-radius: 7px;">
                            Administreaza Comenzi
                        </h4>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="product-item">
                <div style="text-align: center;" class="down-content mb-3">
                    <a href="~/Admin/TestimonialDashboard">
                        <h4 style="margin-bottom:0px!important;
                                      background-color: darkred;
                                      color: white;
                                      padding: 30px;
                                      border-radius: 7px;">
                            Administreaza Recenzii
                        </h4>
                    </a>
                </div>
            </div>
        </div>


        
      
    </div>
</div>


