@model Pipelights.Database.Models.OrderEntity

@{
    ViewData["Title"] = "Confirmation";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


<div class="container">
    <div style="text-align:center">
        <h3>Comanda cu numarul @Model?.id a fost plasata!</h3>
        <br/><br/>
        <h5>Te vom tine la curent cu stadiul comenzii. Pentru orice informatie ne puteti contacta prin <a style="color:primary;"href="~/Home/Contact">pagina de contact.</a> </h5>
        <br/><br/>
        <h5><a class="btn btn-primary" href="~/Products">Vezi alte produse</a></h5>

    </div>
</div>
