@model IEnumerable<Pipelights.Website.BusinessService.Models.ProductDetailsDto>
<style>
    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" >
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" >
    <link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet" >
    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" >
    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet" >
</style>


@foreach (var item in Model)
{
    <div class="col-sm-6 col-md-6 col-lg-3 mb-4">
        <div class="service-item">
            <div class="overflow-hidden border border-5 border-light p-2 text-center">
                <img class="img-fluid mb-3" src="@item.MainImage" alt="">
                <h6 class="mb-1">@item.Name</h6>
                <h5 class="mb-1">@item.Price RON</h5>
                <a class="fw-medium btn btn-sm btn-primary" href="~/Products/Details?Id=@item.Id">Vezi produs</a>
            </div>
            <div class="border-top-0"></div>
        </div>
    </div>
}
